body {
    background-color: #ededed;
}
.btn {
    width: 60px;
    height: 60px;
    background: rgb(232, 216, 168);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    user-select: none;
    margin: 2px;
}

.btn:hover {
    background: rgb(201, 164, 121);
    color: #fff;
    transition: 0.5s;
}

#calc-wrap {
    position: absolute;
    padding: 10px;
    width: 100%;
    text-align: center;
    top: 25%;
}

#calc {
    width: 260px;
    display: inline-block;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px #c4c4c4;;
}

#inputVal {
    min-height: 33px;
    max-height: 33px;
    width: 100%;
    border: 0;
    font-size: 16px;
    resize: vertical;
}